<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Licensing Data Base - Sign Up</title>
</head>
<body>

    <h1> My Licensing Data base Sign Up</h1>
    <form id="SignUpForm">
        <label for="username">Username: </label>
        <input type="text" required id="username"/>
        <label for="password">Password: </label>
        <input type="password" required id="password"/>
        <button type="submit">Sign up</button>
    </form>

    <script src="signup.js"></script>

</body>
</html>